footer {
  text-align: center;
  padding: 2rem;
  background-color: #222;
  color: #fff;

  img {
    width: 2rem;
    margin-bottom: 1rem;
  }

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}