.header-bg {
  color: white;
  padding: 3rem 0;
  height: 800px;
  position: relative;
  overflow: hidden;
  background-color: #2e434e;

  @include media-breakpoint-down(md) {
    height: 100vh;
  }

  .cta {
    width: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid rgba(white, .5);
    padding: 2rem 0;

    h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        font-size: 3rem;
      }
    }

    & > div {
      border-top: 1px solid rgba(white, .5);
      padding: 1rem;
      text-transform: capitalize;
      font-size: 1.5rem;
    }

    span {

      @include media-breakpoint-down(md) {
        font-size: .75rem;
      }
    }
  }

  header {
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      display: flex;
      z-index: 1200;
      margin: 1rem 0;
      flex-wrap: nowrap;

      .logo {
        * {
          fill: white;
          stroke: rgba(black, .2);
        }
      }
    }

    #burger {
      display: none;
      position: relative;
      width: 50px;
      height: 50px;
      z-index: 999;

      @include media-breakpoint-down(md) {
        display: block;
      }

      span {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        position: absolute;
        height: 2px;
        width: 30px;
        opacity: 1;
        left: 26%;
        transition: .25s;

        &:nth-child(1) {
          top: 13px;
        }

        &:nth-child(2), &:nth-child(3) {
          top: 23px;
        }

        &:nth-child(4) {
          top: 33px;
        }
      }

      &:not(.active) {
        span {
          border: 1px solid rgba(black, .2);
        }
      }
      &.active {
        span {
          background-color: #2e434e;
          z-index: 999;

          &:nth-child(1) {
            top: 18px;
            width: 0;
            left: 50%;
          }

          &:nth-child(2) {
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &:nth-child(3) {
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }

          &:nth-child(4) {
            top: 18px;
            width: 0;
            left: 50%;
          }
        }
      }
    }
  }

  .main-nav {
    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      list-style: none;

      li {
        margin-left: 1rem;

        a {
          color: #fff;
          text-transform: uppercase;
          position: relative;

          &::after {
            content: '';
            height: 1px;
            background: #fff;
            bottom: 1px;
            left: 50%;
            width: 100%;
            display: block;
            transition: .25s;
            transform: scaleX(0);
          }

          &:hover {
            text-decoration: none;

            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      background: #fff;
      position: fixed;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      top: 0;
      right: -100vw;
      z-index: 105;
      height: 100vh;
      width: 100vw;
      transition: .5s;

      &.active {
        right: 0;
      }
      ul {
        display: list-item;

        li {
          z-index: 106;
          margin: 4rem 1rem 4rem 0;

          a {
            color: #2e434e;
            font-weight: 800;
          }
        }
      }
    }
  }
}