.planet {
  opacity: .25;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  pointer-events: none;
}

.neptune {
  @extend .planet;
  width: 200px;
  height: 200px;
  right: 20px;
  top: 20px;
}

.pluto {
  @extend .planet;
  bottom: 200px;
  left: 200px;
  width: 100px;
  height: 100px;
}

.uranus {
  @extend .planet;
  width: 150px;
  height: 180px;
  top: 200px;
  left: 50px;
}

.jupiter {
  @extend .planet;
  width: 300px;
  height: 250px;
  top: 10px;
  left: 400px;
}

.mercury {
  @extend .planet;
  width: 50px;
  height: 90px;
  left: 20px;
  bottom: 20px;
}

.luna {
  @extend .planet;
  width: 120px;
  height: 130px;
  bottom: 500px;
  right: 300px;
}

.saturn {
  @extend .planet;
  width: 280px;
  height: 310px;
  bottom: 50px;
  right: 250px;
}

.venus {
  @extend .planet;
  width: 220px;
  height: 240px;
  top: 40px;
  left: 300px;
}

.mars {
  @extend .planet;
  height: 320px;
  width: 270px;
  bottom: 150px;
  right: 40px;
}

.polaris {
  @extend .planet;
  height: 315px;
  width: 305px;
  right: 450px;
  top: 450px;
}

.sun {
  @extend .planet;
  height: 310px;
  width: 350px;
  right: 80px;
  top: 350px;
}