#home_apropos {
  .col-xl-5 {
    align-self: flex-end;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
  }

  .col-xl-7 {
    text-align: justify;

    @include media-breakpoint-up(md) {
      padding: 6rem 0 6rem 2rem;
    }

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }
}

#home_comp {
  background-color: #F7F7F7;

  .comp {
    span {
      position: relative;
      background: red;
      width: 100%;
      display: block;
      color: white;
      vertical-align: center;
      text-align: center;
      padding: 4rem 0;
      margin: 6rem 0;

      @include media-breakpoint-down(md) {
        margin: 1rem 0;
      }

      .hidden-text {
        position: absolute;
        max-width: 100%;
        top: 55%;
        left: 50%;
        text-align: center;
        width: 85%;
        color: #fff;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .5s;
        pointer-events: none;
        font-size: .875rem;
      }

      &:hover {
        .hidden-text {
          opacity: 1;
          pointer-events: initial;
          top: 50%;
          transition-delay: .25s;
        }

        &::before {
          opacity: 0;
          transition-delay: .25s;
        }

        & > p {
          opacity: 0;
          transition-delay: .25s;
        }
      }

      p {
        transition: .25s;
      }

      &::before {
        content: '';
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto 2rem;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: .25s;
      }
    }

    &.video {
      span {
        background: #10c6fc;

        &::before {
          background-image: url(../static/svg/monitor.svg);
          background-size: 50px;
        }
      }
    }

    &.identite {
      span {
        background: #835aeb;

        &::before {
          background-image: url(../img/svg/edit.svg);
          background-size: 50px;
        }
      }
    }

    &.infographie {
      span {
        background: #002453;

        &::before {
          background-image: url(../img/svg/stats.svg);
        }
      }
    }

    &.reseau {
      span {
        background: #ff2b4a;

        &::before {
          background-image: url(../img/svg/network.svg);
          background-size: 50px;
        }
      }
    }
  }
}

#home_exp {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  background-color: #2e434e;
  color: white;

  .bg-pink {
    padding: 2rem;
    background: rgb(93,35,96);
    background: -moz-linear-gradient(-45deg,  rgba(93,35,96,0.5) 0%, rgba(158,53,0.505,0.5) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(93,35,96,0.5) 0%,rgba(158,53,0.505,0.5) 100%);
    background: linear-gradient(135deg,  rgba(93,35,96,0.5) 0%,rgba(158,53,0.505,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d2360', endColorstr='#9e3569',GradientType=1 );

    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 26px;
      text-transform: uppercase;
      margin: 2.5rem 0;
    }

    .box {
      min-height: 250px;
      position: relative;

      &:first-of-type {
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #fff;
          bottom: 0;
          left: 0;
          transform: translateY(-50%);
        }
      }

      h4 {
        font-size: 18px;
        text-transform: uppercase;
      }

      p {
        font-size: 16px;
        opacity: .5;

        &.date {
          opacity: .5;
          text-transform: uppercase;
        }
      }
    }
  }
}

#mes_rea {
  padding: 5rem 0;
  .page-heading {
    text-align: center;
    margin-bottom: 2rem;
    h3 {
      margin-bottom: 2rem;
      font-weight: bold;
    }
  }

  .rea,
  .rea-vid{
    margin-bottom: 2rem;
    overflow: hidden;

    &.order {
      @include media-breakpoint-down(sm) {
        order: 8;
      }
    }

    figure {
      position: relative;
      background: #000;
      height: 100%;

      a {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
      }

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,0,36,0) 65%, rgba(0,0,0,0.3337710084033614) 100%);
        top: 0;
        left: 0;
        z-index: 1;
      }

      *::after,
      *::before,
      * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s linear;
        transition: all 0.35s linear;
      }

      figcaption {
        position: absolute;
        bottom: 10px;
        left: 35px;
        padding: 5px 10px;
        z-index: 2;
      }

      h4 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        font-size: 1.2rem;

        &::after,
        &::before {
          height: 10px;
          width: 100%;
          position: absolute;
          content: '';
          top: 50%;
          -webkit-transform: scaleX(0) translateY(-50%);
          transform: scaleX(0) translateY(-50%);
          -webkit-transform-origin: 0% 0;
          -ms-transform-origin: 0% 0;
          transform-origin: 0% 0;
          background-color: #fff;
        }

        &::after {
          left: 100%;
        }

        &::before {
          right: 100%;
        }
      }

      &:hover {
        &::after {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }

        img,
        video {
          zoom: 1;
          filter: alpha(opacity=40);
          -webkit-opacity: 0.4;
          opacity: 0.4;
        }

        h4 {
          &::before,
          &::after {
            -webkit-transform: scaleX(1) translateY(-50%);
            transform: scaleX(1) translateY(-50%);
          }

          &::after {
            -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s;
          }
        }
      }
    }

    video,
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#bottom-zone {
  background-color: #64cbc0;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;

  .bottom-content {
    &::before {
      content: "";
      display: block;
      width: 3rem;
      height: 2rem;
      background-image: url(../static/svg/quote.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-bottom: 1.5rem;
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }
  @include media-breakpoint-down(sm) {
    .offset-lg-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      opacity: .2;
    }
  }
}

#contact {
  padding: 3rem 0;
  background-color: #222;
  color: #fff;

  h4 {
    margin-bottom: 1rem;
  }

  #formulaire-contact {
    input,
    textarea {
      border-radius: 0;
      color: #fff;
      background-color: transparent;

      &::placeholder {
        color: #ddd;
      }
    }

    button {
      float: right;
      background: #ff2b4a;
      border-color: #ff2b4a;
      border-radius: 0;
      padding: .5rem 2rem;
    }
  }
}