// Your custom variables should be here
// $bootstrap-variable: value;

// Import main Bootstrap styles
@import "~bootstrap/scss/bootstrap";
@import "_components/variables";
@import "_components/header";
@import "_components/footer";
@import "_components/planet";
@import "home";

img {
  max-width: 100%;
}

* {
  font-family: $font-family-base;
}


.modal {
  z-index: 9999;
}

body#mentions-legales {
  background: #2e434e;

  .mentions-legales {
    background-color: #fff;
    padding: 3rem;
  }
}